body {
  margin: 0px;
  padding: 0px;
}

p {
  padding: 0px;
  margin: 0px;
}

#wrapper {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;

  position: relative;
  top: 80px;
}

.header {
    position:fixed;
    width:100%;
    height:80px;
    z-index:10;
    clear:both;
}

.header ul {
  padding:0px 0px 0px 0px;
  font-size:15px;

}


nav ul li {
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.8);
    width: 33%;
    margin: 0;
    padding:17px 0;
    float: left;

}



nav ul li:hover   {
    background: black;
    cursor: pointer;

}

nav ul li:active   {
    background: white;

}

ul {
  list-style-type: none;
}



#center-piece {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  width: 100%;
  height: 400px;
  background-image: url("http://www.genealogyintime.com/GenealogyResources/Wallpaper/Brick-Wall-Images-Series-2/images/ancient_broken_brick_wall.jpg");
  overflow: hidden;
}

#center-piece img {
  border: 2px solid black;
  margin-left: 15px;
  margin-right: 15px;
  height: 330px;

}

#center-piece li {
  position: relative;
  left: 30%;
}

.background {
  width: 100%;
  height: 800px;
  background-color: white;
}


.header-space {
  height: 73px;
  overflow: auto;

}

/* Gallery */

#gallery {
  width: 100%;
  position: relative;
}

.title {
  width: 100%;
  height: 90px;
  background-image: url("http://cache.desktopnexus.com/thumbnails/1096287-bigthumbnail.jpg");
  border: 1px solid black;
}

.title p {
  text-align: right;
  padding-right: 10px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 35px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}

.gallery_content {
  background-image: url("http://wallpaperscraft.com/image/bricks_wall_background_82456_1366x768.jpg");
  width: 100%;
  overflow: scroll;
}

.gallery_content ul {
  float: left;

}

.gallery_content img {
  border: 2px solid black;
  width: 250px;
  height: 250px;
}

.gallery_content img:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray;
  -webkit-filter: grayscale(100%);

  cursor: pointer;

}




/*about*/

#about {
  width: 100%;
  overflow: auto;
}

.about-content li {
  max-height: 600px;
  max-width: 400px;
  float: left;
}

.about-content img {
  max-height: 600px;
  max-width: 400px;
  float: right;
}

.about-content p {
  text-align: left;
  font-size: 20px;
}



/*Lightbox*/

#lightbox {
  width: 0px;
  height: 0px;
  position: fixed;
  top: 13%;
  left: 7%;
  background: rgba(0,0,0,0.8);
  z-index: 100;

}

.invisible {
  visibility: hidden;
}

.lightbox_image {
  max-width: 90%;
  height: 85%;
  border: 2px solid white;
  position: relative;
  float: right;

}

#close_lightbox:hover {
  cursor: pointer;
  color: gray;
  
}